@use '../../sass/' as *;

.slider {
    position: relative;
    height: 100vh;

    @include tablet {
        height: 60vh;
    }


    &__myslide {
        width: 100%;
        height: 100%;
        background-position: center, center;
        background-repeat: no-repeat;
        background-size: cover;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include overlay();
        }
    }

}