@use '../../sass/' as *;

.slider .swiper-slide-active .slider__container .slider__container__poster {
    transform: scale(1);
}

.slider .swiper-slide-active .slider__container .slider__container__content {

    .title,
    .overview,
    .btns {
        opacity: 1;
        transform: translateY(0);
    }

    .title {
        transition-delay: 0.3s, 0.3s;
    }

    .overview {
        transition-delay: 0.6s, 0.6s;
    }

    .btns {
        transition-delay: 0.9s, 0.9s;
    }
}

.slider__container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7rem;
    width: 80%;
    @include flex(space-around, center);

    @include mobile {
        bottom: 9rem;
    }

    &__content {
        width: 55%;
        margin-right: 2rem;
        position: relative;

        @include tablet {
            width: 100%;
        }

        .title {
            font-size: 4rem;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 1.5rem;

            @include tablet {
                font-size: 2rem;
            }
        }

        .overview {
            font-weight: 700;
            font-size: 0.9rem;
            margin-bottom: 1.5rem;
        }

        .btns {
            @include flex(unset, center);
        }

        .btns,
        .title,
        .overview {
            opacity: 0;
            transform: translateY(-100px);
            transition: transform 0.5s ease, opacity 0.5s ease;
        }


    }


    &__poster {
        position: relative;
        width: 22rem;
        border-radius: $border-radius;
        overflow: hidden;
        transition: 0.5s ease;
        transform: scale(0);
        transition: transform 0.7s ease;

        @include mobile {
            display: none;
        }
    }
}